#sidebarStyle {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    width: 25%;
}

#contentStyle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    left: 25%;
    overflow-y: scroll; 
    height:800px;
    width:70%;
    background-color: beige;
    padding: 1%;
}